{% extends "admin/base.html" %}

{% block title %}{{ title }} | Social Watch - Administration {% endblock %}

{% block extrastyle %}
    <style>
        #header {
            background-color: #8A7DBE;
            color: white;
        }

        .button, input[type=submit]:hover, input[type=button]:hover, .submit-row input, a.button, a.button:hover {
            background-color: #8A7DBE
        }

        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color: white;
        }

        .module caption, .inline-group h2 {
            background-color: #8A7DBE;
        }

        .dashboard .module table {
            color: #8A7DBE
        }

        a:link, a:visited, a:hover {
            color: #8A7DBE
        }

        div.breadcrumbs {
            background-color: #8A7DBE;
        }

        .module h2, .module caption, .inline-group h2 {
            background-color: #8A7DBE
        }


        .selector-chosen h2 {
            background: #8A7DBE;
            color: #fff;
        }

        #content-related .module h2 {
            color: #8A7DBE
        }

        .button.default, input[type=submit].default:hover, .submit-row input.default {
            background-color: #8A7DBE;
        }
    </style>
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Social Watch - Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
